@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

:root {
	--purple: #76579d; /* hsl(267, 29%, 48%) */
	--pink: #ffabc2; /* hsl(344, 100%, 84%) */
	--salmon: #ffc29e; /* hsl(22, 100%, 81%) */
	--green-1: #129447; /* hsl(144, 78%, 33%) */
	--green-2: #67b346; /* hsl(102, 44%, 49%) */
	--blue-1: #0d9ddb; /* hsl(198, 89%, 45%) */
	--blue-2: #28628e; /* hsl(206, 56%, 36%) */
	--red: #e45d50; /* hsl(5, 73%, 60%) */
	--yellow: #ffdd35; /* hsl(50, 100%, 60%) */

	--near-white: ghostwhite; /* #f8f8ff hsl(240, 100%, 99%) */

	/* https://modernfontstacks.com */
	--font-transitional: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
	--font-humanist: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
	--font-neo-grotesque: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	--font-industrial: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
	--font-handwritten: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;

	/* https://systemfontstack.com */
	--font-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
	--font-serif:Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	--font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

	--bulma-primary: hsl(267, 29%, 48%);
	--bulma-primary-h: 267;
	--bulma-primary-s: 29%;
	--bulma-primary-l: 48%;
	--bulma-info: var(--blue-1);
	--bulma-success: var(--green-1);
	--bulma-warning: var(--salmon);
	--bulma-danger: var(--red);
	--bulma-link: var(--blue-2);
	--bulma-link-h: 206;
	--bulma-link-s: 56%;
	--bulma-link-l: 36%;
}

html {
	background-color: var(--near-white);
}

.wrapper {
	padding: 0;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3rem;
}
.center > object {
	height: auto;
	width: 100%;
	max-width: 1344px;
	/* margin: 4vmin; */
}

.footer {
	background-color: inherit;
}

.container {
	font-family: var(--font-transitional);
}

a {
	-webkit-text-decoration-skip: objects;
	background-color: transparent;
}

a:active, a:hover {
	outline-width: 0;
}
p a {
	color: inherit;
	position: relative;
	text-decoration: none;
	white-space: nowrap;
	z-index: 0;
}
p a::after {
	background-color: var(--purple);
	bottom: .2em;
	content: "";
	height: .3em;
	left: 0;
	position: absolute;
	transition: height .25s;
	width: 100%;
	z-index: -1;
}
p a:hover::after {
	height: 1em;
}

.form-contact {
	background-color: var(--bulma-primary-soft);
}

form .required:after {
	content:" *";
	color: var(--red);
}
