/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

:root {
	--purple: #76579d;
	--pink: #ffabc2;
	--salmon: #ffc29e;
	--green-1: #129447;
	--green-2: #67b346;
	--blue-1: #0d9ddb;
	--blue-2: #28628e;
	--red: #e45d50;
	--yellow: #ffdd35;

	--near-white: ghostwhite;
}

html {
	background-color: var(--near-white);
}

.center {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

}
.center > img {
	height: auto;
	width: 100%;
	margin: 4vmin;
}
